:root {
  --oliveGreen:#5C5F30;
  --redOrange:#EE7840;
  --champagne:#F0DAC0;
  --coral:#F6A970;
  --grey: rgb(121, 121, 121);
  --almostBlack: rgb(48, 48, 48);
  --almostWhite: rgb(226, 224, 224);
  --background: rgb(250, 241, 233);
}

.about-circle {
  /* background: white; */
  align-items: center;
  border-radius: 100%;
  box-sizing: border-box;
  display: flex;  
  height: 270px;
  justify-content: center;
  width: 270px;
}

#about-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 70px;
}

#about-left{
  background: var(--redOrange);
  /* border: solid var(--redOrange) 40px; */
  transition: transform .3s;
}

#about-right{
  background: var(--oliveGreen);
  /* border: solid var(--oliveGreen) 40px; */
  transition: transform .3s;
}

#about-left:hover {
  transform: scale(1.5);
  border: solid var(--redOrange) 10px;
} 

#about-right:hover {
  transform: scale(1.5);
  border: solid var(--oliveGreen) 10px;
}

.about-text {
  display: none;
}

.hidden {
  display: none;
}