:root {
  --oliveGreen:#5C5F30;
  --redOrange:#EE7840;
  --champagne:#F0DAC0;
  --coral:#F6A970;
  --lightGrey: rgb(121, 121, 121);
}

html, body {
  background: rgb(242, 233, 225);
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: rgb(48, 48, 48);
  font-weight: 250;
  margin: 0;
}

h1 {
  display: flex;
}

h2 {
  width: 200px;
}

p, a {
  color: var(--lightGrey);
  font-weight: lighter;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  background: white;
  border-radius: 20px;
  box-shadow: 15px 15px 30px 10px #DED3C6;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.content {
  position: absolute;
  margin-top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1100px;
}

.topic-wrapper {
  display: flex;
  padding: 50px;
}

.item-title {
  padding-right: 150px;
  width: 200px;
}

.date {
  color: rgb(121, 121, 121);
  font-size: 16px;;
  margin-top: 20px;;
}

/* nav bar styling start */
.nav-wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;
  padding-top: 80px;
  position: fixed;
  height: 100%;
  width: 150px;
}

h1.nav-text {
  font-size: 20px;
  margin-bottom: 10px;
}

p.nav-text, a.nav-text {
  font-size: 16px;
}

p.nav-text {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 6px;
}
/* nav bar styling end */

/* section title styling start */
h1.section-title {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 30px;
}

#upcoming-title::after, #past-title::after, #proud-title::after {
  content: "";
  display: block;
  align-self: center;
  margin-top: 10px;
  top: 10px;
  height: 2px;
}

#upcoming-title::after {
  background: var(--redOrange);
  width: 129px;
}

#past-title::after {
  background: var(--oliveGreen);
  width: 90px;
}

#proud-title::after {
  background: var(--coral);
  width: 255px;
}
/* section title styling end */

/* divider styling start */
.upcoming-divider {
  align-self: center;
  height: 1px;
  width: 900px;
  background: var(--redOrange);
}

.proud-divider {
  align-self: center;
  height: 1px;
  width: 900px;
  background: coral;
}
/* divider styling end */

