:root {
  --oliveGreen:#5C5F30;
  --redOrange:#EE7840;
  --champagne:#F0DAC0;
  --coral:#F6A970;
  --grey: rgb(121, 121, 121);
  --almostBlack: rgb(48, 48, 48);
  --almostWhite: rgb(226, 224, 224);
  --background: rgb(250, 241, 233);
}

html, body {
  background: var(--background);
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* img {
  margin-right: 15px;
} */

h1, h2, h3 {
  color: var(--almostBlack);
  font-weight: 250;
  margin: 0;
}

h2.item-title {
  width: 150px;
}

p, a {
  color: var(--grey);
  font-weight: lighter;
  margin: 0;
}

section {
  background: white;
  border-radius: 20px;
  box-shadow: 15px 15px 30px 10px #DED3C6;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.content {
  position: absolute;
  margin-top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1100px;
}

.date {
  color: var(--grey);
  font-size: 16px;;
  margin-top: 20px;;
}

.inline-link {
  text-decoration: underline;
}

div.item-title {
  padding-right: 150px;
}

.topic-wrapper {
  display: flex;
  padding: 50px;
}

/* nav bar styling start */
.nav-wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;
  padding-top: 80px;
  position: fixed;
  height: 100%;
  width: 150px;
}

h1.nav-text {
  font-size: 20px;
  margin-bottom: 10px;
}

p.nav-text, a.nav-text {
  font-size: 16px;
}

p.nav-text {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 6px;
}
/* nav bar styling end */

/* section header styling start */
h1.section-header {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 40px;
}

#about-header::after, #upcoming-header::after, #past-header::after, #proud-header::after {
  content: "";
  display: block;
  align-self: center;
  margin-top: 10px;
  top: 10px;
  height: 2px;
}

#about-header::after {
  background: white;
  width: 103px;
}

#upcoming-header::after {
  background: var(--redOrange);
  width: 129px;
}

#past-header::after {
  background: var(--oliveGreen);
  width: 90px;
}

#proud-header::after {
  background: var(--coral);
  width: 255px;
}
/* section header styling end */

/* divider styling start */
.upcoming-divider {
  align-self: center;
  height: 1px;
  width: 900px;
  background: var(--redOrange);
}

.proud-divider {
  align-self: center;
  height: 1px;
  width: 900px;
  background: var(--coral);
}
/* divider styling end */

/* about section styling start */
/* section.about {
  background: var(--oliveGreen);
}

p.about {
  color: var(--almostWhite);
}

.caption {
  color: var(--almostWhite);
  font-size: 14px;
}

#about-header {
  color: white
}

#image-container {
  display: flex;
  padding-right: 65px;
  width: 315px;
} */
/* about section styling end */
